.custom-margin-top {
    margin-top: 120px;
}

.align-items-center {
    align-items: center !important;
}

align-items-center {
    align-items: center !important;
}

.nickname-container {
    display: flex;
    align-items: flex-start;
}

.nickname-text {
    margin: 0;
    padding-top: 0;
}



.table .victory-cell {
    background-color: #dfeffd !important;
}

.table .victory-cell:first-child {
    border-left: 5px solid #007bff;
}

.table .defeat-cell {
    background-color: #fddfdf !important;
}

.table .defeat-cell:first-child {
    border-left: 5px solid #dc3545;
}

.table .row-shadow td {
    padding: 10px;
    border-top: 10px solid white;

}
.stat-cell {
    font-size: 30px;
}

.table .row-shadow td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.table .row-shadow td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.kd-text {
    font-size: 0.7em;
    color: gray;
}

.kda-text{
    margin-left: 2em;
    font-size: 1.5em;
    text-align: center;
}

.vertical-align-middle {
    vertical-align: middle;
}

