:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /*background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #E1E2E2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.btn-primary {
  background-color: #ea0029;
  border-color: #ea0029;
}

.btn-primary:hover {
  background-color: #ff4d4d;
  border-color: #ff4d4d;
}

.bg-custom {
  background-color: #ea0029;
  border-color: #ea0029;
}
.custom-dark-header {
  background-color: #343a40;
  color: white;
}

.card.border-primary {
  border-color: #b0c4de !important;
}

.content{

  margin-top: 100px;
}

.custom-dropdown-menu {
  right: 0;
  left: auto;
}

/*table things*/
.custom-table {
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  border: none;
}

/*table things*/

/* paginator css*/
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination-controls button {
  background: none;
  border: none;
  cursor: pointer;
}

.pagination-controls i {
  font-size: 2rem;
  color: #213547;
}
/* paginator css*/

/* icon summoner*/
.icon-profile-image-board {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* icon summoner*/

/* icon roles*/
.icon-container img {
  padding: 5px;
  display: block;
  width: auto;
  height: 40px;
}
.icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 5px;
}

.role-icon {
  transition: all 0.3s ease;
  cursor: pointer;
}

.range-icon {
  transition: all 0.3s ease;
  cursor: pointer;
}


.top-icon:hover {
  content: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-top-hover.png');
}
.mid-icon:hover {
  content: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-middle-hover.png');
}
.jungle-icon:hover {
  content: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-jungle-hover.png');
}
.adc-icon:hover {
  content: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-bottom-hover.png');
}
.support-icon:hover {
  content: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-utility-hover.png');
}

.role-icon.selected {
  border: 2px solid #AAA9A9;
  box-shadow: 0px 0px 10px #AAA9A9;
  cursor: pointer;
}

.range-icon.selected {
  border: 2px solid #AAA9A9;
  box-shadow: 0px 0px 10px #AAA9A9;
  cursor: pointer;
}


/* icon roles*/


@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

.message-button {
  display: none;
  position: absolute;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 20px;
  transform: translateY(-50%);
  right: 5px;
}

.message:hover .message-button {
  display: flex;
}

.slideOutAnimation {
  animation: slideOut 0.5s ease forwards;
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.custom-table th.winrate {
  width: 200px;
}


.icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.range-icon {
  cursor: pointer;
  padding: 10px;
}

.filter-description {
  font-size: 14px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  text-align: center; /* Alineación central */
  margin-bottom: 8px; /* Espacio inferior */
}
.custom-dark-header th {
  background-color: #343a40;
  color: white;
}


