.vw-100 {
    width: 100vw;
}

.vh-100 {
    height: 100vh;
}

.h-custom {
    height: calc(100% - 80px);
}

.border-primary {
    border-color: #007bff !important;
}

.bg-custom {
    background-color: #343a40 !important;
}

.letraPeq {
    font-size: 0.8em;
}
